@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    background-image: url(../img/fondo.png);
    margin: 2px;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 45px;
    color: rgb(101, 124, 185);
    padding-left: 2%;
}

h2{
    font-size: 27px;
    color: rgb(101, 124, 185);
}

.navegador{
    background-color: rgb(101, 124, 185);
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid rgb(38, 86, 160);
    border-radius: 10px 10px;
    box-shadow: slateblue;
}

.navegador ul{
    display: flex;
    justify-content: center;
    width: calc(10%-20px);
}

.listado li{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

.listado a{
    text-decoration: none;
    color: white;
}

.listado a:hover{
    color: rgb(184, 229, 255);
}

.grid{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    width: 95%;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.a{
    text-align: left;
}

.b{
    text-align: center;
    margin-top: 15px;
}

.c{
    text-align: right;
    margin-top: 15px;
}