body{
    background-color: rgb(173, 255, 255);
    margin: 2px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navegador{
    background-color: rgb(101, 124, 185);
    flex-wrap: nowrap;
    border: 2px solid rgb(38, 86, 160);
}